                    html {
                        scroll-behavior: smooth;
                    }
                    
                    h2 {
                        font-size: 13px;
                        letter-spacing: 1px;
                        font-weight: 700;
                        padding: 8px 20px;
                        margin: 0;
                        background: #f5f9fc;
                        color: #428bca;
                        display: inline-block;
                        text-transform: uppercase;
                        border-radius: 50px;
                    }
                    
                    span {
                        color: rgb(119, 119, 255);
                    }
                    
                    .nav-link {
                        position: relative;
                    }
                    
                    .nav-link::after {
                        content: "";
                        bottom: 0;
                        left: 0;
                        width: 0%;
                        height: 3px;
                        background-color: white;
                        position: absolute;
                        transition: 0.5s;
                    }
                    
                    .nav-link:hover::after {
                        width: 100%;
                    }
                    
                    .nav-tabs {
                        justify-content: center;
                    }
                    
                    .nav-link.active,
                    .nav-link {
                        border: none;
                    }
                    
                    .nav-tabs {
                        border-bottom: none;
                    }
                    
                    .navsPart .nav-link.active {
                        background-color: brown !important;
                        border-radius: 17px;
                        color: white !important;
                    }
                    
                    .item {
                        position: relative;
                    }
                    
                    .imageLayer {
                        position: absolute;
                        left: 0;
                        top: 0;
                        bottom: 0;
                        right: 0;
                        background-color: rgba(0, 0, 0, 0.6);
                        display: flex;
                        justify-content: flex-end;
                        align-items: over;
                        flex-direction: column;
                        color: white;
                        opacity: 0;
                        transition: 0.5s all;
                    }
                    
                    .item:hover .imageLayer {
                        opacity: 1;
                    }